<div>
        <button (click)="onClick()">Home</button>
        <h1>States Data</h1>
        <div *ngIf="statesData">
            <table class="table table-dark">
                <tr>
                    <th class="header">State</th>
                    <th class="header">Total Test Cases</th>
                    <th class="header">Total Positive Test Cases</th>
                    <th class="header">Total Negative Test Cases</th>
                    <th class="header">Total Hospitalized</th>
                    <th class="header">Total Recovered</th>
                    <th class="header">Total Deaths </th>
                    <td class="header">Last Updated</td>
                    <td class="header">Grade</td>
                </tr>
                <tr *ngFor="let data of statesData">
                    <td>{{data.state}}</td>
                    <td>{{data.totalTestResults}}</td>
                    <td>{{data.positive}}</td>
                    <td>{{data.negative}}</td>
                    <td>{{data.hospitalized}}</td>
                    <td>{{data.recovered}}</td>
                    <td>{{data.death}}</td>
                    <td>{{data.lastUpdateEt}}</td>
                    <td>{{data.grade}}</td>
                </tr>
            </table>
        </div>
    </div>
    
