<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="table">
    <h1>
        Welcome to our website that tracks datasets of COVID-19 across multiple API's.  This single page application will keep you up to date with the most recent medical data from around the world.
        We hope that this information keeps everyone informed. STAY SAFE!
    </h1>
    <h3> 
        Any questions or corrections that need to be addressed, please contact:
        deandresmelter@gmail.com  |  hollyhowell1980@gmail.com
    </h3>
</div>
</html>