h1{
    text-align: center;
    color: white;
}

#myChart{
    height:700px;
    width: 1250px;
    align-content: center;
    margin: auto;
    margin-bottom: 70px;
    
}

.chartBG{
    background-color: rgba(0, 0, 28, 0.605);
    width: 1250px;
}

body{
    height: 100%;
}

button{
    color: white;
    background-color: #a4a486;
    margin-left: -175px;
}


