h1{
    text-align: center;
    color: white;
}

.container{
    height: 100vh;
}

.table{
    background-color: rgba(0, 0, 28, 0.605);
    color: #a4a486;
    font-size: 22px;
    .header{
        position: sticky;
        top:0;
        transition: all 0.2s ease-in-out;
    }
}

button{
    color: white;
    background-color: #a4a486;
    margin-left: -175px;
}

