<div>
    <button (click)="onClick()">Home</button>
    <h1>Countries Statistics</h1>
    <div *ngIf="countries">
        <table class="table table-success">
            <tr>
                <th>Country</th>
                <th>Total Cases</th>
                <th>Total Serious Cases</th>
                <th>Total Recovered</th>
                <th>Total Deaths</th>
                <th>Total New Cases Today</th>
                <th>Total New Deaths Today</th>
            </tr>
            <tr *ngFor="let country of countries">
                <td>{{country.title}}</td>
                <td>{{country.total_cases}}</td>
                <td>{{country.total_serious_cases}}</td>
                <td>{{country.total_recovered}}</td>
                <td>{{country.total_deaths}}</td>
                <td>{{country.total_new_cases_today}}</td>
                <td>{{country.total_new_deaths_today}}</td>
            </tr>
        </table>
    </div>
</div>