<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>COVID-19 DATA</title>
</head>
<div>
        <button (click)="onClick()">Home</button>
        <h1>US Data</h1>
        <div *ngIf="unitedStatesData">
            <table class="table table-success">
                <tr>
                    <th>Total Cases</th>
                    <th>Total Serious Cases</th>
                    <th>Total Recovered</th>
                    <th>Total Deaths</th>
                    <th>Total New Cases Today</th>
                    <th>Total New Deaths Today</th>
                </tr>
                <tr>
                    <td>{{unitedStatesData.countrydata[0].total_cases}}</td>
                    <td>{{unitedStatesData.countrydata[0].total_serious_cases}}</td>
                    <td>{{unitedStatesData.countrydata[0].total_recovered}}</td>
                    <td>{{unitedStatesData.countrydata[0].total_deaths}}</td>
                    <td>{{unitedStatesData.countrydata[0].total_new_cases_today}}</td>
                    <td>{{unitedStatesData.countrydata[0].total_new_deaths_today}}</td>
                </tr>
            </table>
        </div>
    </div>
</html>