<div>
        <button (click)="onClick()">Home</button>
        <h1>US Data</h1>
        <div *ngIf="unitedStatesData">
            <table class="table table-success">
                <tr>
                    <th>Total Cases</th>
                    <th>Total Serious Cases</th>
                    <th>Total Recovered</th>
                    <th>Total Deaths</th>
                    <th>Total New Cases Today</th>
                    <th>Total New Deaths Today</th>
                </tr>
                <tr>
                    <td>{{unitedStatesData.countrydata[0].total_cases}}</td>
                    <td>{{unitedStatesData.countrydata[0].total_serious_cases}}</td>
                    <td>{{unitedStatesData.countrydata[0].total_recovered}}</td>
                    <td>{{unitedStatesData.countrydata[0].total_deaths}}</td>
                    <td>{{unitedStatesData.countrydata[0].total_new_cases_today}}</td>
                    <td>{{unitedStatesData.countrydata[0].total_new_deaths_today}}</td>
                </tr>
            </table>
        </div>
    </div>