  
h1{
    text-align: center;
    color: white;
}

.table{
    background-color: rgba(0, 0, 28, 0.605);
    color: #a4a486;
    font-size: 22px;
}

button{
    color: white;
    background-color: #a4a486;
    margin-left: -175px;
}

