.sites{
    color: white;
    width: 338px;
    position: relative;
    bottom: 5px;
    margin-left: 375px;
    p{
        display: inline;
        margin-left: 15px;
    }
    h3{
        display: inline;
        margin-left: 15px;
    }
    
}
h5{
    text-align: center;
}

.counter{
    width: 125px;
    position:relative;
    bottom: 5px;
    float: right;
    margin-right: -475px;
    margin-top: 85px;
    color: white;
    text-align: center;
}