<div class="sites">
    <h5>Data provided by:</h5>
    <p><a href="https://thevirustracker.com">The Virus Tracker</a></p>
    <h3>|</h3> 
    <p><a href="https://covidtracking.com">Covid Tracking Project</a></p>
</div>
<div class="counter">
    <h5>Site Visitors</h5>
    <a href="https://www.hitwebcounter.com" target="_blank">
        <img src="https://hitwebcounter.com/counter/counter.php?page=7279340&style=0036&nbdigits=5&type=ip&initCount=0" title="User Stats" Alt="PHP Hits Count"   border="0" >
    </a>                         
</div>
